.page{
    /* height: 100vh; */
    /* padding-inline: 2rem;
    display: grid; */
    min-height: 100vh;
    color: #fff;
    padding: 10px;
    display: flex;
}



main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 22px;
}
.name-title, .skills{
    text-align: left;
    font-size: 18px;
}

.btn-small {
    padding: 10px;
}

.skills>ul{
    display: flex;
}

.skills>ul>li{
   
}

.skills>ul>li>a{
/* #b38400
#cc9600
#e6a900 */
    color: #e6a900 ;
    font-weight: bold;
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
}

.skills>ul>li>a:first-child{
    padding-left: 0;
}


.picture-showcase{
    display: grid;
    grid-auto-flow: row;
    /* grid-template-rows: 1fr 1fr; */
    /* align-items: center; */
}
.image-box{
    display: grid;
    padding: 1rem;
}

img{
    /* border-radius: 100%; */
    /* border: 2px solid #fff; */
    justify-self: center;
}

.action-button {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.checkout>ul{
    display: flex;
}
.checkout>ul>li{
   margin-inline: 0.5rem;
}

.checkout>ul>li>a{
/* #b38400
#cc9600
#e6a900 */
    /* color: #e6a900 ;
    font-weight: bold; */
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
}

.checkout>ul>li>a:first-child{
    padding-left: 0;
}

.name-skills {
    display: flex;
}