<div class="page background-gradient">
    <div class="padding-container">
        <main>
            <div class="name-skills" data-aos="fade-right"
                data-aos-duration="2000">

                <h2 style="font-weight: 400;">👋 Hi, I’m <span style="color: #6853EA;">Nicholas Chibuike-Eruba</span></h2>
                
                <h1>Software Developer</h1>
                <h3 class="name-title">I’m currently taking Bsc. Computing and Information Technology, and I have experience in data analysis, machine learning, and web development</h3>
               

                <div class="skills">
                    <div class="hero-buttons">
                        <a class="chat" href="#">Let's Chat!</a>
                        <a class="cv" href="#">
                            <img src="assets/download.svg" style="height: 25px; width: 40px;"/>
                            <span class="download">Download CV</span>
                        </a>
                    </div>
                    <div class="hero-buttons">
                        <a href="https://github.com/El-Nico"><img src="assets/linkedin.svg"/></a>
                        <a href="https://github.com/El-Nico"><img src="assets/github.svg"/></a>
                        <a class="projects" href="#">My Projects</a>
                    </div>  
                </div>
            </div>
            <div class="picture-showcase" data-aos="fade-left"
                data-aos-duration="2000">

                <div class="image-box">
                    <img
                        src="assets/portrait.png"
                        alt="carousel-img">
                </div>

            </div>

        </main>
    </div>

</div>
