 /* import general settings */
 @import "general-settings.css";

.page{
    height: 100vh;
    padding-inline: 2rem;
    display: grid;

    /* font-family: 'Lato', sans-serif;
    line-height: 1.5; */
}

header{
  margin-bottom: 2rem;
  margin-top: 2rem;
}
header>h1::after{
  content: "";
  height: 2px;
  width: 3rem;
  background: var(--main-colour);
  display: block;
  margin: 0 auto 1rem auto;
}

  /*  Article list */
  .page .article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  
  .article-grid > *:first-child,
  .article-grid > *:last-child 
  {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
  }
  
  .page .article-grid > *:last-child {
    grid-column: 2 / span 2;
  }
  
  #article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 0.5rem;
  }

  /* import media queries */
  @import "articles.mediaqueries.css";