.page{
    height: 100vh;
    padding-inline: 2rem;
    display: grid;
    grid-auto-columns: 1fr;
}

.red-bar{
    width: 2rem;
    height: 100%;
    margin-inline: 1rem;
    background-color: red;
}

main{
    height: 100%;
    display: grid;
    /* place-content: start center; */
}

.showcase{
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr fit-content(2rem) 1fr;
}
