.page{
    /* height: 100vh; */
    padding-inline: 2rem;
    display: grid;
    grid-auto-columns: 1fr;
    padding: 2rem 10px 4rem 10px;
    /* padding-bottom:2rem ; */
}


header{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
header>h1::after{
    content: "";
    height: 2px;
    width: 3rem;
    background: var(--main-colour);
    display: block;
    margin: 0 auto 1rem auto;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;
    gap: 1rem;
    /* overflow: hidden; */
    /* height: 20vh; */
}



.showcase{
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr fit-content(2rem) 1fr;
}
