
<div class="page background-medium">
    <div class="page-container">
        <header><h1>Education|Certification</h1></header>
        <main>
            <div class="showcase">
                <div>
                    <img
                        src="https://source.unsplash.com/random/200x200?degree,computer,science/"
                        alt="carousel-img">
                    <h3>Bsc. Computing Level 7</h3>
                    <p><span>college</span>,<span>level 7</span></p>
                </div>

                <div class="red-bar"></div>
                <div>
                    <img
                        src="https://source.unsplash.com/random/200x200?AI,Certification"
                        alt="carousel-img">
                    <h3>Tensorflow Developer Certificate</h3>
                    <p><span>certification</span>,<span>deep learning</span></p>
                </div>
            </div>

        </main>
    </div>

</div>