<div class="navbars background-gradient" [class]="bgMode">
    <div class="page">
        <nav class>
            <div class="nav-container">
                <img src="../../../assets/logo.png" alt="My Portfolio logo"
                    style="cursor: pointer;" [routerLink]="['/home']"
                    id="logo">

                <div class="nav-links">
                    <ul>
                        <li><a class="primary-hover" [routerLink]="['/home']">Home</a></li>
                        <li><a class="primary-hover" [routerLink]="['/home']" fragment="about">About</a></li>
                        <!-- <li><a class="primary-hover" [routerLink]="['/home']"
                                fragment="education-certification"><fa-icon [icon]="faSchool" style="margin-right: 4px;"></fa-icon> Education/Certification</a></li> -->
                        <li><a class="primary-hover" [routerLink]="['/home']" fragment="projects-experience">Projects</a></li>
                        <li><a class="primary-hover" [routerLink]="['/home']" fragment="articles">Articles</a></li>
                    </ul>
                </div>
                <a class="chat" [routerLink]="['/home']" fragment="contact">Let's Chat!</a>

                <div class="nav-links-mobile">
                    <img src="assets/menu.svg" (click)="toggleDropdownMenu()"/>
                    <ul *ngIf="isDropdownMenuOpen">
                        <li><a class="primary-hover" [routerLink]="['/home']"
                                [matTooltip]="'Home'"
                                [matTooltipPosition]="'below'">
                                Home
                            </a></li>
                        <li><a class="primary-hover" [routerLink]="['/home']"
                                fragment="about" [matTooltip]="'About'"
                                [matTooltipPosition]="'below'">
                                About Me</a></li>
                        <!-- <li><a class="primary-hover" [routerLink]="['/home']" [matTooltip]="'Education/Certification'" [matTooltipPosition]="'below'"
                                fragment="education-certification">
                                <fa-icon [icon]="faSchool"></fa-icon>
                            </a></li> -->
                        <li><a class="primary-hover" [routerLink]="['/home']"
                                [matTooltip]="'Projects/Experience'"
                                [matTooltipPosition]="'below'"
                                fragment="projects-experience">
                                Projects
                            </a></li>
                        <li><a class="primary-hover" [routerLink]="['/home']"
                                fragment="articles" [matTooltip]="'Articles'"
                                [matTooltipPosition]="'below'">
                                Articles
                            </a></li>
                        <li><a class="primary-hover chat" [routerLink]="['/home']"
                                fragment="contact" [matTooltip]="'Contact'"
                                [matTooltipPosition]="'below'">
                                Let's Chat!
                            </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>