
@media (min-width: 300px) {
    .nav-container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .nav-links {
        display: none;
    }
    .nav-links-mobile {
        display: block;

        > ul{
            background-color: #10182B;
            position: absolute;
            left: 0;
            top: 45px;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 2vh;
            padding-bottom: 4vh;
            box-shadow: 0 4px 8px #0003;

            > li{
                padding: 1.5vh 3vh;
                text-align: left;

                > .chat{
                    background-color: #FFBC00;
                    width: 100%;
                    display: block;
                    text-align: center;
                    border-radius: 24px;
                    padding: 1vh;
                    color: #10182B !important;
                }
            }
        }
    }
    .navbars {
        position: relative;
    }

    .chat{
        display: none;
    }

    /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
    .nav-container{
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .nav-links {
        display: none;
    }
    .nav-links-mobile {
        display: block;
        
        > ul{
            position: absolute;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 2vh;
            padding-bottom: 4vh;

            > li{
                padding: 1.5vh 3vh;
                text-align: left;
            }
        }
    }
    .navbars {
        position: relative;
    }
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
    .nav-container{
        flex-direction: row;
        align-items: center;
        
    }
    .nav-links {
        display: block;
    }
    .nav-links-mobile {
        display: none;
        
        > ul{
            position: absolute;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 2vh;
            padding-bottom: 4vh;

            > li{
                padding: 1.5vh 3vh;
                text-align: left;
            }
        }
    }
    .navbars {
        position: relative;
    }
    .chat{
        display: block;
        background-color: #FFBC00;
        padding: 1vh 50px;
        font-weight: 600;
        border-radius: 40px;
        box-shadow: 0px 0px 35px 0px rgba(220,242,180,0.21);
        -webkit-box-shadow: 0px 0px 35px 0px rgba(220,242,180,0.21);
        -moz-box-shadow: 0px 0px 35px 0px rgba(220,242,180,0.21);
        font-size: 1rem;
    }
    
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
    .nav-container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10vw;
    }
    .nav-links {
        display: block;
    }
    .nav-links-mobile {
        display: none;
    }
    ul>li{
        min-width: 90px;
    }
    .navbars {
        position: fixed;
    }
    
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
    .nav-container{
        flex-direction: row;
        align-items: center;
    }
    .nav-links {
        display: block;
    }
    .nav-links-mobile {
        display: none;
    }
    ul>li{
        min-width: 90px;
    }
    .navbars {
        position: fixed;
    }
    
    /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
    .nav-container{
        flex-direction: row;
        align-items: center;
    }
    .nav-links {
        display: block;
    }
    .nav-links-mobile {
        display: none;
    }
    ul>li{
        min-width: 90px;
    }
    .navbars {
        position: fixed;
    }
    
    /* hi-res laptops and desktops */
}
@media (min-width: 1481px) {
    .nav-container{
        flex-direction: row;
        align-items: center;
    }
    .nav-links {
        display: block;
    }
    .nav-links-mobile {
        display: none;
    }
    ul>li{
        min-width: 90px;
    }
    .navbars {
        position: fixed;
    }
    
    /* hi-res laptops and desktops */
}