.page{
    color: #fff;
}


h3{
    padding: 1rem;
}



.nav-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#logo{
    /* flex: 1;
    align-self: center; */
    width: 40px;
    height: 40px;
    color: #fff;
}

.nav-links{
    max-width: 100vw;
}


ul{
    /* justify-self: end; */
    display: flex;
    /* flex-wrap: wrap; */
    max-width: 100vw;
}

ul>Li{
    /* padding: 0rem 0.5rem; */
    flex:1;
}

ul li a{
    color: #fff;
    text-transform: uppercase;
    /* border-bottom: 3px transparent solid;
    padding: .5rem 0.75rem;
    transition: border-color 0.5s; */
    cursor: pointer;
    font-weight: bold;

    /* font-size: 0.75rem; */
}

ul>li>a:hover{
border-color: var(--medium-colour);
}

ul>li>a.current{
    border-color: var(--main-colour);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 600px) {
    .nav-container{
        grid-template-columns: 1fr;
    }

    #logo{
        justify-self: center; 
    }
}