<div class="page">
    <nav class="page-container">
        <div class="nav-container">
            <div class="logo">
                <div class="circle-outer">
                    <div class="circle-inner">
                        <h3>N</h3>
                    </div>
                </div>
            </div>

            <div class="nav-links">
                <ul>
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/home']" fragment="about">About</a></li>
                    <li><a [routerLink]="['/home']"
                            fragment="education-certification">Education/Certification</a></li>
                    <li><a [routerLink]="['/home']"
                            fragment="projects-experience">Projects/Experience</a></li>
                    <li><a [routerLink]="['/home']" fragment="articles">Articles</a></li>
                    <li><a [routerLink]="['/home']" fragment="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
