nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

h3{
    padding: 1rem;
}

.circle-outer,.circle-inner{
    width: fit-content;
    border-radius: 50%;
}