<div class="page background-gradient color-white">
    <div class="padding-container">
        <header #header><h1>Projects</h1></header>

        <div class>
            <div class="title-action">
                <button class="btn-standard">
                    <a href="https://projects.nicholas-eruba.com/"
                        target="_blank">Go To My
                        Projects
                    </a>

                </button>
            </div>
            <mat-progress-spinner mode="indeterminate"
                *ngIf="loadingProjects"
                style="margin-inline: auto;"></mat-progress-spinner>
            <div class="container-swiper">
                <swiper
                    [breakpoints]="breakpoints"
                    [spaceBetween]="30"
                    [direction]="'horizontal'"
                    [loop]="true"
                    [centeredSlides]="true"
                    [speed]="5000"
                    [allowTouchMove]="true"
                    [autoplay]="{ delay: 0, disableOnInteraction: false }">
                    <ng-container *ngFor="let project of projects">
                        <ng-template swiperSlide>
                            <app-proj-exp-item [project]="project"></app-proj-exp-item>
                        </ng-template>
                    </ng-container>
                </swiper>
            </div>
        </div>
    </div>

</div>
