.page{
    height: 100vh;
    padding-inline: 2rem;
    display: grid;
}
.red-bar{
    width: 2rem;
    height: 100%;
    margin-inline: 1rem;
    background-color: red;
}

header{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
header>h1::after{
    content: "";
    height: 2px;
    width: 3rem;
    background: var(--main-colour);
    display: block;
    margin: 0 auto 1rem auto;
}


main{
    height: 100%;
    display: grid;
    /* place-content: start center; */
}

.showcase{
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr fit-content(2rem) 1fr;
}

