.page{
    height: 100vh;
    padding-inline: 2rem;
    display: grid;
}


header{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
header>h1::after{
    content: "";
    height: 2px;
    width: 3rem;
    background: var(--main-colour);
    display: block;
    margin: 0 auto 1rem auto;
}


main{
    height: 100%;
    display: grid;
    /* place-content: start center; */
}

.showcase-grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    /* background: #fff; */
    background: var(--light-colour);
    padding: 1rem;
  }
