.page{
    height: 100vh;
    display: grid;
}

.welcome-container{
    display: grid;
    place-content: center;
}

ul{
    margin: 0;
    padding: 5rem;
}

ul>li{
    padding: 0.5rem;
}

ul>li>a{
    text-decoration: underline;
    color: blue;
    filter: brightness(50%);
}

ul>li>a:hover{
    filter: brightness(100%);
}
main{
    align-self: center;
}
footer{
    align-self: flex-end;
}
