<div class="page">
    <div class="page-container">
        <main>
            <div class="welcome-container">
                <ul>
                    <li>
                        <a href="https://portfolio-9f16d.web.app/home"
                            target="_blank">
                            Version 2020
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home']" fragment="hero">
                            Version 2023
                        </a>
                    </li>
                </ul>
            </div>
        </main>
    </div>

    <footer>
        <app-footer></app-footer>
    </footer>
</div>
