/* You can add global styles to this file, and also import other style files */
/* ***********VARIABLES******************** */
:root{
  --website-width: 1280px;
  --dark-colour:#333;
  --main-colour: #ffbc00;
  --secondary-colour: #ff3d00;
  --light-colour: #f4f4f4;
  --medium-colour: #ccc;
  /* --medium-colour:#f4f4f4; */
}

/* ***********RESET******************** */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    /* max-width: 100%; */
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* img {
    width: 100%;
  } */

  html{
    scroll-behavior: smooth;
  }
  /* **********END OF RESET************ */

main, nav, section, div, footer, header{
    border: 1px red solid;
    text-align: center;
}

ul{
  border: 2px green solid;
}

.page-container{
  max-width: var(--website-width);
  margin: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--dark-colour);
}

ul {
  list-style: none;
}

.sticky{
  position: fixed;
  top: 0px;
}

.grid-col-span-2{
  grid-column: span 2;
}
/* utility classes */
.background-dark, .bg-dark{
  background: var(--dark-colour);
  color: #fff;
}
.background-light, .bg-light{
  background: var(--light-colour);
}
.background-medium, .bg-medium{
  background: var(--medium-colour);
}

.background-main, .bg-primary {
  background: var(--main-color);
  color: #fff;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.bg-dark h1,
  .bg-dark h2,
  .bg-dark h3,
  .bg-dark a,
  .bg-primary h1,
  .bg-primary h2,
  .bg-primary h3,
  .bg-primary a,
  .bg-secondary h1,
  .bg-secondary h2,
  .bg-secondary h3,
  .bg-secondary a {
    color: #fff;
  }

  /* utitlity paddign */
  .py-1 { padding: 1.5rem 0 }
  .py-2 { padding: 2rem 0 }
  .py-3 { padding: 3rem 0 }
  .p-1 { padding: 1.5rem }
  .p-2 { padding: 2rem }
  .p-3 { padding: 3rem }

ul>li{
  border: 1px solid lightblue;
}

/* buttons */

button, .btn{
  display: inline-block;
  padding: 0.8rem, 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: var(--main-colour);
}

.btn-light {
  color: #333;
  background-color: var(--light-colour);
}

.btn-dark {
  color: #f4f4f4;
  background-color: var(--dark-colour);
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover{
  background-color: var(--main-colour);
} 