.desc-container {
  /* padding: 0px 10px 10px 10px; */
  display: grid;
}

.item-container {
  padding: 10px;
}

.project-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.image-star-rating {
  /* > img {
    height: auto;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  } */
}

.project-card {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 80% 20%;
}

.category p {
  text-transform: uppercase;
}

.category-angular {
  background: var(--angular-color);
}
.category-react {
  background: var(--react-color);
}
.category-data-ai {
  background: var(--data-ai-color);
}
