<div class="page background-white">
        <div class="page-container">
                <div class="header" data-aos="fade-in" data-aos-duration="2000">
                        <h1>About</h1>
                </div>

                <main class="card-standard p-1">

                        <img data-aos="fade-right" data-aos-duration="2000"
                                [src]="about.imgUrl"
                                alt="carousel-img">

                        <!-- <div class="yellow-bar"></div> -->

                        <div class="about-text-container" data-aos="fade-left"
                                data-aos-duration="2000">
                                <!-- <p class="about-text">Lorem ipsum dolor sit amet
                                        consectetur
                                        adipisicing
                                        elit. Ut
                                        quisquam
                                        consectetur autem delectus alias
                                        corrupti,
                                        eligendi
                                        aliquid iure sunt
                                        dolores optio doloribus
                                        voluptates.
                                        Aliquam ad
                                        officia
                                        dolorum explicabo
                                        iure ipsam?
                                </p> -->
                                <!-- [style]="about.style" -->
                                <div class="about-div"
                                        [innerHTML]="about.template"
                                        [class]="about.class"></div>
                        </div>

                </main>
        </div>

</div>
