.page{
    height: 100vh;
    padding-inline: 2rem;
    display: grid;
}
.yellow-bar{
    width: 4px;
   height: 100%;
    background-color: var(--main-colour);
    margin-inline: 1rem;
}

main{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr, 4px, 1fr;
    /* background: var(--medium-colour); */
}

.header{
    margin-bottom: 2rem;
}
.header>h1::after{
    content: "";
    height: 2px;
    width: 3rem;
    background: var(--main-colour);
    display: block;
    margin: 0 auto 1rem auto;
}

.about-text-container{
    text-align: justify;
    padding: 1rem 0.5rem;
}

.about-text{
    line-height: 1.5;
}