.page{
    /* display: grid; */
    height: 100vh;
    grid-template-columns: 1fr;
}
.yellow-bar{
    width: 2rem;
    height: 100%;
    background-color: var(--main-colour);
    margin-inline: 1rem;
}

main{
    height: 100%;
    display: grid;
    place-content: start;
}

.about-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-bar{
    background-color: aquamarine;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr fit-content(1%);
}

/* .image-bar>img{
    height: 100%;
} */