<div class="page">
    <header>
        <app-navbar></app-navbar>
        <app-hero></app-hero>
    </header>

    <main>
        <div class="yellow-bar">
            <div class="section" [routerLink]="['/home']" fragment="about"></div>
            <div class="section" [routerLink]="['/home']"
                fragment="education-certification"></div>
            <div class="section" [routerLink]="['/home']"
                fragment="projects-experience"></div>
            <div class="section" [routerLink]="['/home']" fragment="articles"></div>
            <div class="section" [routerLink]="['/home']" fragment="contact"></div>
        </div>
        <app-about id="about"></app-about>
        <app-education-certification id="education-certification"></app-education-certification>
        <app-projects-experience id="projects-experience"></app-projects-experience>
        <app-articles id="articles"></app-articles>
        <app-contact id="contact"></app-contact>
    </main>

    <footer><app-footer></app-footer></footer>
</div>
