<div class="page">
    <div class="yellow-bar">
        <div class="section" [routerLink]="['/home']" [matTooltip]="'Home'" [matTooltipPosition]="'right'"> <fa-icon [icon]="faHome" style="font-size: 8px;"></fa-icon></div>
        <div class="section" [routerLink]="['/home']" fragment="about" [matTooltip]="'About'" [matTooltipPosition]="'right'"><fa-icon [icon]="faUser" style="font-size: 8px;"></fa-icon></div>
        <!-- <div class="section" [routerLink]="['/home']"
            fragment="education-certification" [matTooltip]="'Education/Certification'" [matTooltipPosition]="'right'"><fa-icon [icon]="faSchool" style="font-size: 8px;"></fa-icon></div> -->
        <div class="section" [routerLink]="['/home']"
            fragment="projects-experience" [matTooltip]="'Project/Experience'" [matTooltipPosition]="'right'"><fa-icon [icon]="faProject" style="font-size: 8px;"></fa-icon></div>
        <div class="section" [routerLink]="['/home']" fragment="articles" [matTooltip]="'Articles'" [matTooltipPosition]="'right'"><fa-icon [icon]="faNewspaper" style="font-size: 8px;"></fa-icon></div>
        <div class="section" [routerLink]="['/home']" fragment="contact" [matTooltip]="'Contact'" [matTooltipPosition]="'right'"><fa-icon [icon]="faPhone" style="font-size: 8px;"></fa-icon></div>
    </div>

    <header>
        <app-navbar></app-navbar>
        <app-hero></app-hero>
    </header>

    <main>
        <app-about id="about"></app-about>
        <!-- <app-education-certification id="education-certification"></app-education-certification> -->
        <app-projects-experience id="projects-experience"></app-projects-experience>
        <app-articles id="articles"></app-articles>
        <app-contact id="contact"></app-contact>
    </main>

    <footer><app-footer></app-footer></footer>
</div>
