/* dark brain */
/* https://firebasestorage.googleapis.com/v0/b/portfolio-website-v2-2023.appspot.com/o/hero%2F49203125457_a0184cae7a_o.png?alt=media&token=c65577f8-6956-436c-acb6-df3bc02f714f */
/* data analysis digital marketing */
/* https://firebasestorage.googleapis.com/v0/b/portfolio-website-v2-2023.appspot.com/o/hero%2Fdigital-marketing-g200b3fcf4_1280.jpg?alt=media&token=aea5ae74-17db-43eb-b4d0-a427f308f790 */
/* vscoding */
/* https://firebasestorage.googleapis.com/v0/b/portfolio-website-v2-2023.appspot.com/o/hero%2Fprogramming-g96a78dfbf_1280.png?alt=media&token=abc8a758-1294-44d5-b04b-e42204500eb5 */

.home-container{
    display: grid;
    grid-template-columns: fit-content(1rem) 1fr;
}

.yellow-bar{
    width: 2rem;
    height: 100%;
    background-color: yellow;
    margin-inline: 1rem;
}

.page-sections{
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 3rem; */
}

section{
    min-height: 100vh;
    display: grid;
}