.container{
    display: grid;
}

.grid-col-span-2{
    grid-column: span 2;
}

/* .grid-row-span-6{
    grid-row: span 6;
} */

main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 3% 97%;
    grid-template-rows: repeat(6, 1fr);
    scroll-behavior: smooth;
}

main section{
    grid-column-start: 2;
    min-height: 100vh;
}

main section#hero{
    grid-column-start: 1;
    grid-column: span 2;
    background: url('https://source.unsplash.com/random/1200x1200?code,data,web,ai,machine/') no-repeat center top / cover;
    color: #fff;
}

/* main section#hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: -1;
} */

main section#hero>app-hero{
    z-index: 2;
}



.yellow-bar{
    background: yellow;
    grid-row-start: 2;
    grid-row-end: 7;
}

.home-sections{
    display: grid;
}

.home-sections section{
    height: 100vh;
}