<main class="background-dark">
    <div class="page-container">
        <div class="footer-grid">
            <div class="socials">
                <a href="https://github.com/El-Nico" target="_blank"
                    aria-label="Homepage"
                    class="footer-octicon"
                    title="GitHub">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
                <a href="https://www.linkedin.com/in/nicholas-chibuike-eruba"
                    target="_blank">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2023
                    <a href="https://nicholas-eruba.com" target="_blank">Nicholas
                        Chibuike-Eruba</a>
                    All Rights Reserved</p>
            </div>
        </div>

    </div>
</main>