main{
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(auto-fill, 1fr);
}

.footer-grid{
    color: #fff;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    
/* #0d0d0d
#1a1a1a
#262626
#333333
#404040
#4d4d4d
#595959 */
    background: #4d4d4d;
}

a{
    color: #fff;
    padding: 0.2rem;
    display: inline;
}

a>fa-icon{
    color: var(--main-colour);
    font-size: 1.2rem;
}

.socials{
display: grid;
grid-auto-flow: column;
grid-template-columns: repeat(auto-fit, auto);
place-content: start;
place-items: center;
gap: 0.5rem;
}

/* .socials a{
    margin-right: .5rem;
} */



.copyright{
text-align: right;
padding-left: 1rem;
}

