.page{
    height: 100vh;
    padding-inline: 2rem;
    display: grid;
}
/* form{
    display: grid;
    grid-template-rows: 1fr, 1fr;
} */
header{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
header>h1::after{
    content: "";
    height: 2px;
    width: 3rem;
    background: var(--main-colour);
    display: block;
    margin: 0 auto 1rem auto;
}

.page-container{
    display: grid;
}

.text-fields{
    display: grid;
    grid-template-areas: 'name email' 'subject phone' 'message message' 'submit submit';
    grid-gap: 1.2rem;
}

/* grid areas */
.name-input{
    grid-area: name;
}
.subject-input{
    grid-area: subject;
}

.email-input{
    grid-area: email;
} 

.phone-input {
    grid-area: phone;
}

.message-input {
    grid-area: message;
}

.message-input textarea{
    height: 100px;
}

.text-input {
    padding: 0.5rem 1rem;
    width: 100%;
    align-self: center;
}

button[type='submit']{
    grid-area: submit;
    width: 50%;
    transform: translateX(50%);
    padding: 0.5rem;
    font-weight: bold;
    /* margin-top: 1.5rem; */
}

.invalid{
    border: 1px solid red;
}

.error{
    color: red;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 600px) {
    .text-fields{
        grid-template-areas: 'name' 'subject' 'email' 'phone' 'message' 'submit';
    }

    .message-input textarea{
        height: 50px;
    }
}