.page{
    height: 100vh;
    padding-inline: 2rem;
    display: grid;
}
header{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
header>h1::after{
    content: "";
    height: 2px;
    width: 3rem;
    background: var(--main-colour);
    display: block;
    margin: 0 auto 1rem auto;
}

.page-container{
    display: grid;
}

.text-fields{
    display: grid;
    grid-template-areas: 'name email' 'subject phone' 'message message';
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;
}

/* grid areas */
.name-input{
    grid-area: name;
}
.subject-input{
    grid-area: subject;
}

.email-input{
    grid-area: email;
} 

.phone-input {
    grid-area: phone;
}

.message-input {
    grid-area: message;
    /* height: 100px; */
}

.text-input {
    padding: 0.5rem 1rem;
}

button[type='submit']{
    width: 50%;
}

.invalid{
    border: 1px solid red;
}

.error{
    color: red;
}