<div class="page background-light">
    <div class="padding-container">
        <header><h1 class="section-title" data-aos="fade-in" data-aos-duration="2000">Contact Me</h1></header>
        <!-- <div class="bottom-line"></div>
        <p class="lead">Here's how to reach me</p> -->

        <main class="" data-aos="fade-in" data-aos-duration="2000">
            <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="text-fields">

                    <div class="name-input">
                        <!-- <label for="name">Name</label><br> -->
                        <input type="text" id="name" formControlName="name"
                            placeholder="Name"
                            [class.invalid]="checkInvalid('name')"
                            class="text-input input-standard"><br>
                        <div class="error" *ngIf="checkInvalid('name')"> field
                            empty or not valid</div>
                    </div>

                    <div class="email-input">
                        <!-- <label for="email">Email Address</label><br> -->
                        <input type="email" id="email" formControlName="email"
                            placeholder="E-Mail"
                            [class.invalid]="checkInvalid('email')"
                            class="text-input input-standard"><br>
                        <div class="error" *ngIf="checkInvalid('email')"> field
                            empty or not valid</div>
                    </div>

                    <div class="subject-input">
                        <!-- <label for="subject">Subject</label><br> -->
                        <input type="text" id="subject"
                            formControlName="subject"
                            placeholder="Subject"
                            [class.invalid]="checkInvalid('subject')"
                            class="text-input input-standard"><br>
                        <div class="error" *ngIf="checkInvalid('subject')">
                            field empty or not valid</div>
                    </div>

                    <div class="phone-input">
                        <!-- <label for="phone">Phone Number</label><br> -->
                        <input type="text" id="phone" formControlName="phone"
                            placeholder="Phone Number"
                            [class.invalid]="checkInvalid('phone')"
                            class="text-input input-standard"><br>
                        <div class="error" *ngIf="checkInvalid('phone')"> field
                            empty or not valid</div>
                    </div>

                    <div class="message-input">
                        <!-- <label for="message">Write Message</label> -->
                        <textarea id="message" formControlName="message"
                            placeholder="Write message.."
                            style="width: 100%;"
                            [class.invalid]="checkInvalid('message')"
                            class="text-input  input-standard"></textarea>
                        <div class="error" *ngIf="checkInvalid('message')">
                            field empty or not valid</div>
                    </div>
                    <button type="submit" class="btn-standard btn-dark">Submit</button>
                </div>

            </form>
        </main>
    </div>

</div>